*{
    margin: 0;
    padding: 0;
   }
   /* fazer essa determinação em todos é um boa pratica pois o asterisco garante que vai ser
   aplicado em todo documento, e assim vc pode ajustar a margem de acordo com sua
   preferencia */
   h1{
    color:rgb(81, 79, 79);
    font-size: 96px;
    font-weight: 900;
    text-decoration:wavy;
    text-align: center;

   }
   h2{
    color:black;
    font-size: 48px;
    font-weight: 700;
    text-decoration:wavy;
    text-align: center;
    font-family: poppins;
   }
   p {
    font-size: 24px;
    font-family: poppins;
    font-style:normal;
    text-align: justify;
   }
   .bg {
    height: 500px;
    /*height vem do ingles e significa altura*/
    width: 100%;
    /*width vem do ingles e significa largura*/
    /* espaço determinado para onde a imagem tem que caber */
   
    background-image: url(https://wallpaperaccess.com/full/9425017.jpg);
    /* nao salvei a imagem no computador por isso puxei o URL */
    background-size: cover;
    /* o formato cover ajusta da imagem dentro do espaço determinado sem deformar ela mas
   corta um pedaço, o formato contain faz a imagem aparecer sem corte mas deforma */
    background-repeat: no-repeat;
    /* vai garantir que a imagem não vai se repetir dentro do espaço determinado */
    background-position: center;
    background-attachment: fixed;
    /* esse comando faz a imagem ficar fixada e o texto ir passando por cima, não funciona com
   todo navegador */
   }
 .nave ul li {
    display: inline-block;
    margin-right: 10%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #070F18;
    text-decoration: none;
    font-family: poppins;
    cursor: pointer;
    transition: 0.6s;
}